/* Override Safari */
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Navbar */
.navigation {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navbar-brand {
  font-size: 34px;
}
.navbar-brand > span {
  color: #79a151;
  font-size: 28px;
  display: block;
  margin-top: -16px;
  text-align: center;
}

#navbarResponsive {
  text-align: center;
}

/* Home */
.Home {
  margin-top: 20px;
}
.Home .statement > h1 {
  text-align: center;
  color: #79a151;
  font-size: 2em;
}
.Home .statement {
  padding: 10px 40px;
  margin-top: 70px;
  margin-bottom: 10px;
}
.carousel .slide img {
  height: 70vh;
}
.carousel .thumbs-wrapper {
  margin: 20px 0px !important;
}
.carousel .thumb,
.carousel .thumb img {
  height: 60px;
}
.carousel .thumbs {
  padding-left: 0px;
}
.carousel .thumb.selected {
  border: 3px solid #79a151 !important;
}

/* Gallery */
.gallery {
  width: 80vw;
  margin: 0 auto;
}
.gallery {
  padding: 1.5em;
  margin-right: auto;
  margin-left: auto;
}
.image-container {
  columns: 1;
  column-gap: 10px;
}
.image-container img {
  width: 100%;
}
.image-list {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
.image-list img {
  border-radius: 4px;
  overflow: hidden;
}

/* Bio & Contact & Exhibitons */
.bio,
.contact,
.exhibitions {
  text-align: center;
  height: 80vh;
}
.bio h1.font-weight-light,
.contact h1,
.exhibitions h1,
.exhibitions a {
  color: #79a151;
}
.exhibitions a {
  font-size: 1.4em;
}
.bio p,
.exhibitions p {
  font-size: 1.4em;
  margin-bottom: 0px;
}
.contact p,
.contact a {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.bio h1,
.exhibitions h1,
.contact h1 {
  margin-top: 40px;
}

/* Medium/Large-sized screens */
@media only screen and (min-width: 768px) {
  .navigation {
    margin-bottom: 60px;
  }
  .image-container {
    column-count: 3;
  }
}

@media only screen and (max-width: 992px) {
  #navbarResponsive a {
    padding: 0px;
  }
}

/* Small-Medium screens */
@media only screen and (max-width: 768px) {
  .Home .statement {
    padding: 10px;
  }
  .image-container {
    column-count: 2;
  }
  .Home .rec img {
    height: 50vh;
  }
  .carousel ul.control-dots li.dot {
    display: none;
  }
  .carousel .slide img {
    height: 40vh;
  }
  .bio h1,
  .exhibitions h1,
  .contact h1 {
    margin-top: 20px;
  }
}

/* Small screens */
@media only screen and (max-width: 460px) {
  .gallery {
    width: 100vw;
  }
  .image-container {
    column-count: 1;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .navbar-brand > span {
    font-size: 18px;
    margin-top: -10px;
  }
}
