/* Override Safari */
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
  background-color: #f5f5f5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 2;
}
.navbar-brand {
  font-size: 34px;
}
.navbar-brand hr {
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-brand > span {
  font-size: 28px;
  display: block;
  margin-top: -16px;
  text-align: center;
}

#navbarResponsive {
  text-align: right;
  margin-right: 5px;
}

/* Home */
.Home .statement > h1 {
  text-align: center;
  font-size: 2em;
}
.Home .statement {
  padding: 10px 120px;
  margin-top: 70px;
  margin-bottom: 10px;
}
.carousel .slide {
  background-color: #e0dede !important;
}
.carousel .slide img {
  height: auto;
  max-width: 80vw;
}

.carousel .thumbs-wrapper {
  margin: 20px 0px !important;
  display: none;
}
.carousel .thumb,
.carousel .thumb img {
  height: 60px;
}
.carousel .thumbs {
  padding-left: 0px;
}
.carousel .carousel-status {
  display: none;
}

.carousel .control-dots .dot {
  background: #e0dede;
}
/* Gallery */
.gallery {
  width: 80vw;
  margin: 0 auto;
}
.gallery {
  padding: 1.5em;
  margin-right: auto;
  margin-left: auto;
}
.image-container {
  columns: 1;
  column-gap: 10px;
}
.image-container img {
  width: 100%;
}
.image-list {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
.image-list img {
  border-radius: 4px;
  overflow: hidden;
}
#react-modal-image-img {
  width: auto;
}

/* Bio & Contact & Exhibitons */
.bio,
.contact,
.exhibitions {
  height: 80vh;
}
.exhibitions a {
  font-size: 1.4em;
}
.bio p,
.exhibitions p,
.exhibitions a,
.contact p,
.contact a {
  font-size: 1.4em;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.5);
}
.exhibitions a {
  text-decoration: underline;
}
.bio h1 {
  margin-top: 30px;
}
.bio img {
  margin-top: 34px;
}

.bio div.col-md-6:nth-child(5) > img:nth-child(1) {
  background: #fff;
  padding: 20px 12px;
}

.contact img {
  width: 100%;
}

.exhibitions h1 {
  margin-top: 40px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Medium/Large-sized screens */
@media only screen and (min-width: 768px) {
  .image-container {
    column-count: 3;
  }
  .bio img {
    float: right;
  }
  .contact img {
    float: right;
  }
}

@media only screen and (max-width: 992px) {
  #navbarResponsive a {
    padding: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Small-Medium screens */
@media only screen and (max-width: 768px) {
  .Home .statement {
    padding: 40px;
  }
  .image-container {
    column-count: 2;
  }
  .Home .rec img {
    height: 50vh;
  }
  .bio h1,
  .exhibitions h1,
  .contact h1 {
    margin-top: 20px;
  }
}

/* Small screens */
@media only screen and (max-width: 460px) {
  .gallery {
    width: 100vw;
  }
  .image-container {
    column-count: 1;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .navbar-brand > span {
    font-size: 18px;
    margin-top: -10px;
  }
}
